[user]
name = Mathieu Blondel
email = mathieu@mblondel.org

[alias]
    ci = commit -a
    co = checkout
    st = status -a
    praise = blame
    br = branch

[diff]
    color = auto
    rename = copy

[core]
    editor = vim
    ;pager = lv -c 

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[http]
	sslverify = false
